<div class="container">
  <!-- NAV -->
  <div>
    <button (click)="displayUserForm()" type="button" class="btn btn-secondary">New user</button>
  </div>

  <!-- USER FORM -->
  <div *ngIf="isUserFormActive">
    <app-user-form (updatedUser)="onUpdatedUser($event)" [user]="user"></app-user-form>
  </div>

  <!--USER LIST -->
  <div>
    <h2 class="text-center">User list</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Firstname</th>
          <th>Email</th>
          <th>Updated at</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.updated_at | date: 'yyyy-mm-dd HH:mm' }}</td>
          <td>
            <button (click)="goToUserProfile(user.id)" type="button" class="btn btn-warning" title="See user profile">
              <i class="fa fa-eye" aria-hidden="true"></i>
            </button>
          </td>
          <td>
            <button (click)="editUser(user)" type="button" class="btn btn-info" title="Edit user">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </button>
          </td>
          <td>
            <button (click)="deleteUser(user.id)" type="button" class="btn btn-danger" title="Delete user">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
